.video-n {
  position: relative;
}

.video-n__img {
  width: 100%;
  object-fit: cover;
}

.video-n__play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 71px;
  height: 70px;
  padding-left: 8px;
  background-color: #f4f2f1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;

  &:hover {
    background-color: $new-color;

    & .video-n__icon {
      fill: #f4f2f1;
    }
  }
}

.video-n__icon {
  width: 34px;
  min-width: 34px;
  height: 34px;
  transition: all 0.3s;
  fill: $new-color;
}

@media (max-width: 1900px) {
  .video-n__play {
    width: 68px;
    height: 67px;
  }

  .video-n__icon {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }
}

@media (max-width: 1279px) {
  .video-n__play {
    width: 50px;
    height: 49px;
    padding-left: 7px;
  }

  .video-n__icon {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }
}
