.social {
  @include list-reset;
  display: flex;
}

.social__item {
  &:not(:last-child) {
    margin-right: 20px;
  }

  a {
    &:hover {
      background-color: $new-color;

      svg {
        fill: #ffffff;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: all 0.3s;
  }

  svg {
    width: 20px;
    height: 20px;
    transition: all 0.3s;
    fill: $main-color;
  }

  &--n a:hover {
    background-color: $new-color;
  }
}

@media (max-width: 1900px) {
  .social__item {
    a {
      width: 41px;
      height: 41px;
    }
  }
}

@media (max-width: 1279px) {
  .social__item {
    &--menu > a {
      width: 44.52px;
      height: 44.52px;
      background-color: $new-color;

      & svg {
        width: 22px;
        height: 22px;
        fill: #ffffff;
      }
    }
  }
}

@media (max-width: 767px) {
  .social__item {
    &--menu > a {
      width: 41px;
      height: 41px;
    }
  }
}
