.blum-method {
  padding-top: 35px;
}

.blum-method__wrapper {
  display: flex;
  margin-bottom: 80px;
  padding-right: calc(50% - 860px);
  padding-left: calc(50% - 860px);
}

.blum-method__box {
  max-width: 635px;
}

.blum-method__title {
  margin-bottom: 25px;
}

.blum-method__desc {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}

.blum-method__content {
  max-width: 990px;
  margin-left: auto;
  padding-top: 5px;
}

.blum-method__text {
  font-size: 24px;
  line-height: 32px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.blum-method__video {
  position: relative;
  height: 37.8vw;
  overflow: hidden;
  line-height: 0;
}

.blum-method__img {
  object-fit: cover;
  width: 100%;
}

.blum-method__play {
  position: absolute;
  right: 375px;
  bottom: 55px;
  width: 3.3vw;
  min-width: 3.3vw;
  height: 3.3vw;
}

.blum-method__btn {
  display: none;
}

@media (max-width: 1900px) {
  .blum-method {
    padding-top: 30px;
  }

  .blum-method__wrapper {
    display: flex;
    margin-bottom: 80px;
    padding-right: calc(50% - 585px);
    padding-left: calc(50% - 585px);
  }

  .blum-method__title {
    margin-bottom: 40px;
  }

  .blum-method__box {
    max-width: 495px;
  }

  .blum-method__desc {
    font-size: 18px;
    line-height: 28px;
  }

  .blum-method__content {
    max-width: 595px;
  }

  .blum-method__text {
    font-size: 18px;
    line-height: 26px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .blum-method__play {
    right: 172px;
    bottom: 53px;
    width: 4.9vw;
    min-width: 4.9vw;
    height: 4.9vw;

    & svg {
      width: 30%;
      min-width: 30%;
      height: 30%;
    }
  }
}

@media (max-width: 1279px) {
  .blum-method__wrapper {
    flex-direction: column;
    margin-bottom: 0;
    padding: 0 30px;
    padding-bottom: 47px;
  }

  .blum-method__content {
    max-width: initial;
    margin-left: 0;
  }

  .blum-method__desc {
    margin-bottom: 40px;
  }

  .blum-method__video {
    height: 49.4vw;
  }

  .blum-method__play {
    right: 75px;
    bottom: 25px;
    width: 8.1vw;
    min-width: 8.1vw;
    height: 8.1vw;
  }
}

@media (max-width: 767px) {
  .blum-method {
    padding-top: 20px;
    padding-bottom: 25px;
  }

  .blum-method__wrapper {
    padding: 0 15px;
    padding-bottom: 40px;
  }

  .blum-method__title {
    margin-bottom: 30px;
  }

  .blum-method__desc {
    margin-bottom: 30px;
    line-height: 26px;
  }

  .blum-method__text {
    font-size: 16px;
    line-height: 26px;
  }

  .blum-method__content {
    height: auto;
    max-height: 390px;
    overflow: hidden;
    transition: all 0.4s;

    &--active {
      max-height: 1000px;
    }
  }

  .blum-method__btn {
    display: block;
    margin-top: 25px;
  }

  .blum-method__play {
    right: 16px;
    bottom: 16px;
    width: 13.33vw;
    min-width: 13.33vw;
    height: 13.33vw;
  }
}
