.people {
  padding: 30px 15px;
}

.people__title {
  margin-bottom: 30px;
}

.people__list {
  @include list-reset;
  padding-bottom: 20px;
}

.people__controls {
  justify-content: center;

  .controls__button {
    &:last-child {
      margin-left: 14px;
    }
  }
}

@media (min-width: 600px) {
  .people__item {
    &:not(:last-child) {
      margin: 0 20px;
    }
  }

  .people__list {
    display: flex;
    margin-left: -20px;
  }
}

@media (min-width: 1200px) {
  .people {
    @include page-wrapper;
    padding-top: 75px;
    padding-bottom: 80px;
  }

  .people__title {
    margin-bottom: 70px;
  }

  .people__list {
    padding-bottom: 10px;
  }

  .people__inner {
    position: relative;
  }
}

@media (min-width: 1360px) {
  .people__controls {
    position: absolute;
    top: 50%;
    left: -90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 180px);
    transform: translateY(-50%);

    .controls__button {
      width: 57px;
      height: 57px;
      background: transparent;
      border: 1px solid #0d95e8;

      &:last-child {
        margin-left: 0;
      }

      &:hover {
        background-color: #0d95e8;
      }
    }
  }
}
