.news {
  padding: 30px 15px;
}

.news__title {
  margin-bottom: 30px;
}

.news__list {
  @include list-reset;
}

.news__tabs {
  margin-bottom: 20px;
}

.news__img {
  display: block;
  margin: -25px;
  margin-bottom: 30px;

  img {
    border-radius: 15px 15px 0 0;
  }
}

.news__inner {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px #e6eef2;
}

.news__header {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
}

.news__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 25px;
}

.news__more {
  margin-top: auto;
  font-size: 14px;
  line-height: 155%;
  color: #1074ba;
  transition: all 0.3s;

  &:hover {
    color: #2a2a2a;
  }
}

.news__controls {
  justify-content: center;
  margin-top: 20px;

  .controls__button {
    &:last-child {
      margin-left: 14px;
    }
  }
}

@media (min-width: 768px) {
  .news__item {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .news {
    padding-top: 60px;
    padding-bottom: 50px;

    @include page-wrapper;
  }

  .news__title {
    margin-bottom: 55px;
  }

  .news__list {
    padding-bottom: 10px;
  }

  .news__tabs {
    margin-bottom: 55px;
  }

  .news__item {
    padding: 0 15px;
  }

  .news__slider {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
  }


  .news__controls {
    position: absolute;
    top: -107px;
    right: 15px;
    margin-top: 0;
  }
}
