.news-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #ebf0f1;
  border-radius: 10px;
  transition: all 0.3s;

  &:hover .news-card__name {
    color: #27a2f8;
  }

  &:hover .news-card__link::after {
    opacity: 1;
  }
}

.news-card__content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.news-card__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #333333;
  transition: all 0.3s;
}

.news-card__desc {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 155%;
}

.news-card__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-size: 15px;
  line-height: 23px;
  color: #1074ba;

  &:hover::after {
    transform: translateX(7px);
  }

  &:active {
    opacity: 0.6;
  }

  &::after {
    @include pseudo;
    width: 16px;
    height: 16px;
    margin-left: 12px;
    background-image: url("../../img/article__arrow.svg");
    opacity: 0;
    transition: all 0.3s;
  }
}

.news-card__image {
  display: block;
  height: 80vw;
}

.news-card__img {
  display: block;
  height: 100%;
  object-fit: cover;
}


@media (min-width: 768px) {
  .news-card {
    display: flex;
    flex-direction: row;
    min-height: 250px;
  }

  .news-card__content {
    padding: 35px 40px;
  }

  .news-card__name {
    font-size: 24px;
  }

  .news-card__desc {
    font-size: 14px;
  }

  .news-card__image {
    min-width: 37%;
    height: auto;
  }
}
