.research {
  padding: 10px 15px;
  padding-bottom: 30px;
}

.research__title {
  margin-bottom: 30px;
}

.research__sidebar {
  margin-bottom: 30px;
}

.research__list {
  @include list-reset;
}

.research__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .research__title {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .research {
    @include page-wrapper;
  }

  .research__container {
    display: flex;
  }

  .research__sidebar {
    width: 275px;
    max-width: 275px;
  }

  .research__box {
    max-width: 870px;
    margin-left: auto;
  }
}
