.program-card {
  width: 100%;
  min-height: 336px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px #e6eef2;

  &:hover .program-card__text {
    color: #27a2f8;
  }
}

.program-card__link {
  display: block;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 10px;
  min-height: 336px;
  padding-bottom: 20px;
}

.program-card__image {
  width: calc(100% + 15px);
  height: 66%;
  margin-right: -5px;
  margin-bottom: 20px;
  margin-left: -10px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.program-card__text {
  font-size: 11px;
  line-height: 18px;
  color: #000000;
  transition: all 0.3s;
}

@media (min-width: 768px) {
  .program-card__text {
    font-size: 14px;
  }
}

