.conditions-n {
  padding: 20px 0;
  overflow: hidden;
}

.conditions-n__title {
  margin-bottom: 20px;
  text-align: center;
}

.conditions-n__text {
  margin-bottom: 65px;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: $new-color;
  text-transform: lowercase;
}

.conditions-n__slider {
  position: relative;
}

.conditions-n__list {
  @include list-reset;
  display: flex;
  margin-left: -795px;
}

.conditions-n__item {
  min-width: 1170px;
  height: 31vw;
  margin-left: 15px;
  overflow: hidden;
  border-radius: 15px;
}

.conditions-n__img {
  object-fit: cover;
  height: 100%;
}

.conditions-n__controls {
  position: absolute;
  top: 50%;
  left: 230px;
  justify-content: space-between;
  width: calc(100% - 460px);
  transform: translateY(-50%);

  & button {
    width: 57px;
    min-width: 57px;
    height: 57px;
  }
}

@media (max-width: 1900px) {
  .conditions-n {
    padding-top: 35px;
    padding-bottom: 30px;
    overflow: hidden;
  }

  .conditions-n__title {
    margin-bottom: 15px;
  }

  .conditions-n__list {
    margin-left: 0;
    transform: translateX(-38%);
  }

  .conditions-n__text {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 23px;
  }

  .conditions-n__item {
    min-width: 58%;
    width: 58%;
    height: 30vw;
    margin-left: 10px;
    border-radius: 10px;
  }

  .conditions-n__controls {
    left: 155px;
    width: calc(100% - 310px);
  }
}
