.cedar-park {
  padding: 15px 0;
  padding-bottom: 40px;
}

.cedar-park__container {
  display: flex;
  flex-direction: column;
  height: min-content;
  padding: 30px 15px;
  background-image: url("../../img/cedar-park__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cedar-park__title {
  margin-bottom: 15px;
  margin-left: 15px;
  color: #000000;
}

.cedar-park__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px;
  background-color: rgba(49, 46, 46, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.cedar-park__box {
  &--name {
    padding-bottom: 10px;
  }

  &--desc {
    max-width: 556px;
  }
}

.cedar-park__name {
  margin-bottom: 8px;
  color: #ffffff;
}

.cedar-park__text {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.cedar-park__desc {
  font-size: 14px;
  line-height: 155%;
  text-align: justify;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}

.cedar-park__controls {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.cedar-park__control-button {
  width: 40px;
  height: 40px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .cedar-park__wrapper {
    flex-direction: row;
    padding: 20px 30px;
  }

  .cedar-park__container {
    height: 40.6vw;
  }

  .cedar-park__box--desc {
    max-width: 460px;
  }
}

@media (min-width: 1200px) {
  .cedar-park {
    padding-top: 50px;
    padding-bottom: 65px;
  }

  .cedar-park__container {
    height: 40.6vw;
    padding: 0;
    padding-bottom: 77px;

    @include page-wrapper;
  }

  .cedar-park__title {
    margin-bottom: 60px;
    margin-left: calc(50% - 585px);
  }

  .cedar-park__wrapper {
    flex-direction: row;
    padding: 40px 70px;
  }

  .cedar-park__controls {
    bottom: -77px;
    left: 30px;
  }
}
