.button-close__btn {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;

  & svg {
    width: 100%;
    height: 100%;
    fill: #636363;
  }
}
