.patient-histories {
  position: relative;
  padding: 70px 0;
  padding-right: calc(50% - 860px);
  padding-left: calc(50% - 860px);
  overflow: hidden;
  background-color: #f9f7f3;
}

.patient-histories__title {
  margin-bottom: 45px;
  text-align: center;
}

.patient-histories__wrap {
  margin-bottom: 70px;
  padding-left: 40px;
}

.patient-histories__slider {
  position: relative;
}

.patient-histories__list {
  @include list-reset;
  display: flex;
  margin-bottom: 45px;
  overflow: hidden;
}

.patient-histories__item {

}

.patient-histories__video {
  margin-bottom: 25px;
}

.patient-histories__text {
  font-size: 24px;
  line-height: 32px;

  & b {
    font-weight: 700;
  }
}

.patient-histories__link {
  & svg {
    margin: 0;
    margin-right: 10px;
  }
}

.patient-histories__controls {
  position: absolute;
  top: 130px;
  left: -20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% + 40px);
}

.patient-histories__dots {
  display: none;
}

@media (max-width: 1900px) {
  .patient-histories {
    padding: 60px 0;
    padding-right: calc(50% - 585px);
    padding-left: calc(50% - 585px);
  }

  .patient-histories__title {
    margin-bottom: 40px;
  }

  .patient-histories__wrap {
    margin-bottom: 58px;
    padding-left: 0;
  }

  .patient-histories__list {
    margin-bottom: 30px;
  }

  .patient-histories__item {
  }

  .patient-histories__video {
    margin-bottom: 35px;
  }

  .patient-histories__text {
    font-size: 18px;
    line-height: 26px;
  }

  .patient-histories__controls {
    top: 140px;
  }
}

@media (max-width: 1279px) {
  .patient-histories {
    padding: 50px 30px;
  }

  .patient-histories__title {
    margin-bottom: 38px;
  }

  .patient-histories__wrap {
    margin-bottom: 50px;
  }

  .patient-histories__item {

  }

  .patient-histories__video {
    margin-bottom: 20px;
  }

  .patient-histories__text {
    font-size: 16px;
    line-height: 24px;
  }

  .patient-histories__controls {
    display: none;
  }

  .patient-histories__list {
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .patient-histories {
    padding: 50px 15px;
  }

  .patient-histories__title {
    margin-bottom: 30px;
  }

  .patient-histories__list {
    margin-bottom: 30px;
  }

  .patient-histories__wrap {
    margin-bottom: 37px;
  }


  .patient-histories__video {
    margin-bottom: 25px;
  }

  .patient-histories__dots {
    display: block;
    margin-bottom: 45px;
  }
}
