.tabs-n__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: -7px;
}

.tabs-n__item {
  margin: 7px;
  padding: 9px 29px;
  font-size: 20px;
  line-height: 155%;
  text-align: center;
  color: #000000;
  background-color: #fbfbfb;
  border: 1px solid $new-color;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s;


  &:hover {
    color: #ffffff;
    background-color: $new-color;
    border: 1px solid #cdf0ff;
    opacity: 1;
  }
}

.tabs-n__item--active {
  color: #ffffff;
  background-color: $new-color;
  border: 1px solid #cdf0ff;
  opacity: 1;
}

@media (max-width: 1900px) {
  .tabs-n__list {
    margin: -8px;
  }

  .tabs-n__item {
    margin: 8px;
    margin-bottom: 12px;
    padding: 8px 28px;
  }
}

@media (max-width: 1279px) {
  .tabs-n__list {
    margin: -9px;
  }

  .tabs-n__item {
    margin: 9px;
    margin-bottom: 12px;
    padding: 8px 18px;
  }
}

@media (max-width: 767px) {
  .tabs-n__list {
    flex-wrap: nowrap;
  }

  .tabs-n__item {
    padding: 8px 7px;
    font-size: 16px;
    line-height: 155%;
    white-space: nowrap;
  }
}
