.book-one {
  padding: 10px 15px;
  padding-bottom: 30px;
}

.book-one__title {
  margin-bottom: 30px;
}

.book-one__sidebar {
  margin-bottom: 30px;
}

.book-one__wrapper {
  padding: 20px;
  border: 1px solid #e4e3e3;
  border-radius: 5px;
}

.book-one__list {
  @include list-reset;
}

.book-one__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.book-one__item {
  display: flex;
  align-items: center;

  & > a {
    font-size: 14px;
    line-height: 155%;
    color: $new-color;
    border-bottom: 1px dashed $new-color;
    transition: all 0.3s;


    &:hover {
      border-color: transparent;
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 15px;
  }

  &--bottom::before {
    content: "";
    width: 5px;
    height: 5px;
    margin-right: 10px;
    background-color: $new-color;
    border-radius: 50%;
  }
}

.book-one__wrap {
  & p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 155%;
    color: #000000;
  }

  &--header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(208, 208, 208, 0.42);
  }

  &--bottom p:last-of-type {
    margin-bottom: 20px;
  }
}

.book-one__inner > p:last-of-type {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .book-one__title {
    margin-bottom: 60px;
  }

  .book-one__wrap--header {
    display: flex;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .book-one__image {
    max-width: 256px;
    line-height: 0;
  }

  .book-one__inner {
    margin-left: 35px;
  }
}

@media (min-width: 1200px) {
  .book-one {
    @include page-wrapper;
  }

  .book-one__container {
    display: flex;
  }

  .book-one__sidebar {
    width: 275px;
    max-width: 275px;
  }

  .book-one__wrapper {
    padding: 40px;
  }

  .book-one__inner {
    padding-top: 25px;
  }

  .book-one__box {
    max-width: 870px;
    margin-left: auto;
  }

  .book-one__img {
    width: 256px;
  }
}
