.description {
  & p {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 22px;
  }

  & h3 {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    color: #333333;
  }
}

.description__inner {
  margin-bottom: 50px;
  padding: 30px 0;
  background: rgba(122, 215, 255, 0.1);
  border-radius: 10px;

  &--research-two {
    margin-bottom: 77px;
  }
}

.description__list {
  @include list-reset;
  position: relative;
  margin-bottom: 15px;
  padding: 0 25px;
  padding-bottom: 20px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #d6e7ef;
  }
}

.description__item {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.description__icon {
  width: 56px;
  height: 56px;
}

.description__box {
  margin-left: 20px;
}

.description__number {
  margin-bottom: 3px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #676767;

  &--up {
    text-transform: uppercase;
  }

  & b {
    font-size: 36px;
    line-height: 47px;
  }
}

.description__desc {
  font-size: 12px;
  line-height: 16px;
  color: #676767;
}

.description__note {
  padding: 0 25px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #676767;
}

.description__video {
  height: 53vw;
  margin-bottom: 30px;
}

.description__image {
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 15px;
}

.description__img {
  display: block;
  object-fit: contain;
}

@media (min-width: 768px) {
  .description {
    & p {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 24px;
    }

    & p.description__text--60 {
      margin-bottom: 60px;
    }
  }

  .description__list {
    display: flex;
    align-items: center;
  }

  .description__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: auto;
    }
  }

  .description__note {
    max-width: 625px;
    margin: 0 auto;
    padding: 0;
  }

  .description__image {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .description__inner {
    min-height: 201px;

    &--biography {
      padding: 30px 80px;
      padding-right: 100px;
    }
  }

  .description__list {
    padding-right: 35px;
    padding-left: 35px;

    &::after {
      content: "";
      width: 805px;
      height: 1px;
    }

    &--biography {
      padding-right: 0;
      padding-left: 0;
    }

    &--biography::after {
      width: 831px;
    }
  }

  .description__slider--biography {
    padding-right: 80px;
    padding-left: 80px;
  }

  .description__icon {
    width: 66px;
    height: 66px;
  }

  .description__video {
    height: 489px;
    margin-bottom: 30px;

    &--biography {
      padding: 0 100px;
    }
  }
}
