.our-patient {
  padding-top: 70px;
  padding-right: calc(50% - 860px);
  padding-bottom: 35px;
  padding-left: calc(50% - 860px);
}

.our-patient__title {
  margin-bottom: 75px;
  text-align: center;
}

.our-patient__slider {
  position: relative;
}

.our-patient__list {
  @include list-reset;
  display: flex;
  padding: 5px;
  overflow: hidden;
}

.our-patient__item {

}

.our-patient__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.our-patient__controls {
  position: absolute;
  top: 50%;
  left: -80px;
  justify-content: space-between;
  width: calc(100% + 160px);

  & button {
    width: 57px;
    min-width: 57px;
    height: 57px;
  }
}

.our-patient__dots {
  display: none;
}

@media (max-width: 1900px) {
  .our-patient {
    padding-right: calc(50% - 585px);
    padding-bottom: 25px;
    padding-left: calc(50% - 585px);
  }

  .our-patient__title {
    margin-bottom: 63px;
  }

  .our-patient__list {
    margin-left: -10px;
    padding: 0;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .our-patient__item {
  }

  .our-patient__controls {
    top: 57%;
    left: -20px;
    width: calc(100% + 40px);

    & button {
      width: 43px;
      min-width: 43px;
      height: 43px;
    }
  }
}

@media (max-width: 1279px) {
  .our-patient {
    padding: 0 30px;
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .our-patient__title {
    margin-bottom: 50px;
  }

  .our-patient__name {
    margin-bottom: 16px;
  }

  .our-patient__list {
    margin-right: -10px;
    margin-bottom: 30px;
    margin-left: -10px;
    padding: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .our-patient__item {

  }

  .our-patient__controls {
    position: static;
    width: min-content;
    margin: 0 auto;

    & button {
      width: 51px;
      min-width: 51px;
      height: 51px;

      &:last-child {
        margin-left: 15px;
      }
    }
  }
}

@media (max-width: 767px) {
  .our-patient {
    padding: 30px 15px;
    padding-top: 48px;
  }

  .our-patient__title {
    margin-bottom: 20px;
  }

  .our-patient__name {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 26px;
  }

  .our-patient__list {
    margin: 0;
    overflow: hidden;
    margin-bottom: 25px;
  }

  .our-patient__item {

  }

  .our-patient__controls {
    display: none;
  }

  .our-patient__dots {
    display: block;
  }
}
