.our-patient {
  padding-top: 70px;
  padding-right: calc(50% - 860px);
  padding-bottom: 35px;
  padding-left: calc(50% - 860px);
}

.our-patient__title {
  margin-bottom: 80px;
  text-align: center;
}

.our-patient__slider {
  position: relative;
}

.our-patient__list {
  @include list-reset;
  display: flex;
  overflow: hidden;
}

.our-patient__item {
  width: 262px;
  min-width: 262px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.our-patient__name {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.our-patient__controls {
  position: absolute;
  top: 50%;
  left: -80px;
  justify-content: space-between;
  width: calc(100% + 160px);

  & button {
    width: 57px;
    min-width: 57px;
    height: 57px;
  }
}
