.news-coronavirus {
  padding: 10px 15px;
  padding-bottom: 30px;

  .sidebar {
    margin-right: -15px;
    overflow: hidden;
  }

  .sidebar__list {
    display: flex;
    overflow: auto;
  }

  .sidebar__item {
    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}

.news-coronavirus__title {
  margin-bottom: 30px;
}

.news-coronavirus__sidebar {
  margin-bottom: 30px;
}

.news-coronavirus__list {
  @include list-reset;
}

.news-coronavirus__item {
  margin-bottom: 20px;
}


@media (min-width: 768px) {
  .news-coronavirus {
    .sidebar {
      display: none;
      margin-right: 0;
    }

    .sidebar__list {
      display: block;
    }

    .sidebar__item {
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  .news-coronavirus__title {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .news-coronavirus {
    @include page-wrapper;

    .sidebar {
      display: block;
      width: 110px;
      min-width: 110px;
      padding-top: 0;
    }
  }

  .news-coronavirus__container {
    display: flex;
  }

  .news-coronavirus__sidebar {
    width: 106px;
    max-width: 106px;
  }

  .news-coronavirus__box {
    max-width: 1014px;
    margin-left: auto;
  }
}
