.mega-menu-n {
  z-index: 300;
  display: block;
  padding: 39px;
  background-color: #f4f6f8;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 5px rgba(205, 205, 205, 0.71);
}

.mega-menu-n__list {
  @include list-reset;
  z-index: 10;
  max-width: 435px;
  padding: 12px 0;
  padding-top: 15px;
  background-color: rgba(15, 146, 124, 0.07);
  border-radius: 10px;
}

.mega-menu-n__item {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: transparent;

  a {
    position: relative;
    display: flex;
    align-items: center;
    padding: 14px 20px;

    &::before {
      @include pseudo;
      position: absolute;
      top: 50%;
      right: -13px;
      width: 20px;
      height: 16px;
      background-image: url("../../img/icons/svg/up-arrow__icon-n.svg");
      background-size: contain;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  &--active {
    &>.mega-menu-n__inner {
      opacity: 1;
      pointer-events: none;
    }

    background-color: $new-color;

    &>a {
      color: #ffffff;
    }

    a {
      &::before {
        opacity: 1;
      }
    }
  }

  &:hover {
    &>.mega-menu-n__inner {
      opacity: 1;
      pointer-events: auto;
    }

    background-color: $new-color;

    &>a {
      color: #ffffff;
    }

    a {
      &::before {
        opacity: 1;
      }
    }
  }


  img {
    width: 50px;
    height: 50px;
    margin-right: 27px;
  }

  a.mega-menu-n__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90px;
    margin-top: auto;
    padding: 25px 0;
    font-size: 24px;
    line-height: 28px;
    color: $new-color;
    text-transform: none;
    border-top: 1px solid #eeeeee;

    &::before {
      display: none;
    }
  }
}

.mega-menu-n__inner {
  position: absolute;
  top: 0;
  left: 475px;

  display: flex;
  width: calc(100% - 509px);
  height: 100%;
  padding: 39px;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.mega-menu-n__header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px 0;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  background-color: rgba(15, 146, 124, 0.87);
  border-radius: 10px 10px 0 0;
}

.mega-menu-n__col {
  display: flex;
  flex-direction: column;
  width: 407px;
  background: #ffffff;
  border-radius: 10px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.mega-menu-n__sub-list {
  @include list-reset;
  padding: 15px;

  a {
    padding: 0;
    font-size: 20px;
    line-height: 24px;
    color: #000000;

    &::before {
      display: none;
    }
  }
}

.mega-menu-n__sub-item {
  text-transform: none;
  transition: all 0.3s;

  a {
    &:hover {
      color: $new-color;
    }
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

@media (max-width: 1900px) {
  .mega-menu-n {
    padding: 30px;
    padding-bottom: 36px;
    border-radius: 0px;
    box-shadow: none;
  }

  .mega-menu-n__list {
    max-width: 305px;
    padding-top: 10px;
  }

  .mega-menu-n__item {
    font-size: 15px;
    line-height: 19px;

    & a {
      padding: 10px 15px;
    }

    & img {
      width: 40px;
      height: 40px;
      margin-right: 15px;
    }

    a.mega-menu-n__link {
      font-size: 18px;
      line-height: 23px;
      min-height: 70px;
      border: none;
      position: relative;

      &::before {
        @include pseudo;
        width: calc(100% - 28px);
        height: 1px;
        background-color: #EEEEEE;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  .mega-menu-n__inner {
    padding: 0;
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 36px;
    left: 335px;
    width: calc(100% - 360px);
  }

  .mega-menu-n__col {
    width: 280px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  .mega-menu-n__header {
    padding: 23px 10px;
  }

  .mega-menu-n__sub-list {
    padding: 15px;
    background: #FFFFFF;
    border-radius: 10px;

    a {
      padding: 0;
      font-size: 15px;
      line-height: 19px;
      color: #000000;
    }
  }

  .mega-menu-n__sub-item {

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }


}
