.special-project {
  display: flex;
  justify-content: center;
  padding: 18px;
  background-color: #134237;

  &--contacts {
    display: none;
  }
}

.special-project__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  font-family: $add-font, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1900px) {
  .special-project {
    padding: 10px;
  }

  .special-project__text {
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 1279px) {
  .special-project {
    padding: 11px;

    &--contacts {
      display: flex;
    }
  }

  .special-project__text {
    font-size: 16px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  .special-project {
    padding: 13px;
  }

  .special-project__text {
    font-size: 12px;
    line-height: 15px;

    & > span {
      display: none;
    }
  }
}
