.title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #333333;

  &--index {
    text-align: center;
    text-transform: uppercase;

    span {
      display: block;
      font-size: 16px;
    }
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 32px;
    line-height: 41px;


    &--index {
      font-size: 48px;
      line-height: 55px;
      letter-spacing: 0.02em;

      span {
        font-size: 34px;
      }
    }

    &--hotel {
      font-size: 48px;
      line-height: 56px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1920px) {
  .title {
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
  }
}
