.place-power {
  padding: 30px 15px;
}

.place-power__wrap {
  position: relative;

  &--top {
    margin-bottom: 50px;
  }

  &--bottom {
    display: flex;
  }
}

.place-power__title {
  margin-bottom: 35px;
  font-size: 32px;
  line-height: 28px;
}

.place-power__desc {
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}


.place-power__text {
  font-size: 14px;
  line-height: 155%;
  color: #000000;

  &--main {
    font-size: 18px;
    line-height: 155%;
  }
}


@media (min-width: 1200px) {
  .place-power {
    @include page-wrapper;
    margin-top: -400px;
  }

  .place-power__desc {
    max-width: 690px;
  }

  .place-power__img {
    position: absolute;
    right: 20px;
    z-index: -1;
    width: 545px;
    object-fit: contain;
  }

  .place-power__text {
    max-width: 373px;
    margin-left: 115px;
    font-size: 14px;
    line-height: 155%;
    color: #000000;

    &--main {
      display: flex;
      max-width: 575px;
      margin-left: 85px;
      font-size: 18px;
      line-height: 155%;
    }

    &--main::before {
      content: "";
      width: 2px;
      height: 150px;
      margin-right: 30px;
      background-color: #27a2f8;
    }

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}
