.lectures {
  padding: 10px 15px;
  padding-bottom: 30px;
}

.lectures__title {
  margin-bottom: 30px;
}

.lectures__sidebar {
  margin-bottom: 30px;
}

.lectures__list {
  @include list-reset;
}

.lectures__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .lectures__title {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .lectures {
    @include page-wrapper;
  }

  .lectures__container {
    display: flex;
  }

  .lectures__sidebar {
    width: 275px;
    max-width: 275px;
  }

  .lectures__box {
    max-width: 870px;
    margin-left: auto;
  }

  .lectures__item {
    min-height: 289px;
  }
}
