.footer-n {
  padding-top: 115px;
  padding-bottom: 75px;
  background-color: #134237;
}

.footer-n__top {
  position: relative;
  display: flex;
  padding-right: calc(50% - 825px);
  padding-bottom: 95px;
  padding-left: calc(50% - 860px);
  border-bottom: 0.5px solid rgba(250, 250, 250, 0.5);
}

.footer-n__logo {
  display: block;
  width: 215px;
}

.footer-n__nav {
  display: flex;
  margin-left: auto;
}

.footer-n__col {
  &:not(:first-child) {
    margin-left: 115px;
  }
}

.footer-n__header {
  margin-bottom: 55px;
  font-size: 24px;
  line-height: 24px;
  color: rgba(249, 249, 249, 0.6);
}

.footer-n__list {
  @include list-reset;
}

.footer-n__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  & a {
    font-size: 24px;
    line-height: 24px;
    color: #f9f9f9;
  }
}

.footer-n__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 135px;
}

.footer-n__phone {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.footer-n__email {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.footer-n__callback {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
}

.footer-n__btn {
  position: absolute;
  right: 100px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  transform: rotate(-90deg);

  & svg {
    width: 22px;
    height: 22px;
    fill: #000000;
  }
}

.footer-n__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 55px;
  padding-right: calc(50% - 905px);
  padding-left: calc(50% - 905px);
}

.footer-n__copyright {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.44);
}

.footer-n__politic {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.44);
}

.footer-n__dev {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  & a {
    font-weight: 700;
  }
}

@media (max-width: 1900px) {
  .footer-n {
    padding-top: 62px;
    padding-bottom: 45px;
  }

  .footer-n__top {
    padding-right: calc(50% - 565px);
    padding-bottom: 55px;
    padding-left: calc(50% - 610px);
  }

  .footer-n__col {
    &:not(:first-child) {
      margin-left: 80px;
    }
  }

  .footer-n__logo {
    display: block;
    width: 151px;
  }

  .footer-n__header {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 24px;
  }

  .footer-n__item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & a {
      font-size: 20px;
      line-height: 24px;
    }
  }

  .footer-n__contacts {
    margin-left: 80px;
  }

  .footer-n__phone {
    font-size: 20px;
    line-height: 24px;
  }

  .footer-n__email {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-n__callback {
    font-size: 16px;
    line-height: 24px;
  }

  .footer-n__bottom {
    padding-top: 50px;
    padding-right: calc(50% - 605px);
    padding-left: calc(50% - 605px);
  }

  .footer-n__copyright {
    font-size: 16px;
  }

  .footer-n__politic {
    font-size: 15px;
  }

  .footer-n__dev {
    font-size: 16px;
  }

  .footer-n__btn {
    right: 30px;
    bottom: 30px;
  }
}
