.patent-n {
  padding-top: 50px;
  padding-right: calc(50% - 860px);
  padding-left: calc(50% - 860px);
}

.patent-n__title {
  margin-bottom: 40px;
  text-align: center;
}

.patent-n__slider {
  position: relative;
}

.patent-n__list {
  @include list-reset;
}

.patent-n__item {
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.patent-n__sublist {
  @include list-reset;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.patent-n__subitem {
  width: 154px;
  min-width: 154px;
  height: 224px;

  &:not(:first-child) {
    margin-left: 20px;
  }
}

.patent-n__inner {
  display: block;
  height: 100%;

  & img {
    height: 100%;
  }
}

.patent-n__controls {
  position: absolute;
  top: 50%;
  left: -80px;
  justify-content: space-between;
  width: calc(100% + 160px);
  transform: translateY(-50%);


  & button {
    width: 57px;
    min-width: 57px;
    height: 57px;
  }
}

@media (max-width: 1900px) {
  .patent-n {
    padding-top: 40px;
    padding-right: calc(50% - 585px);
    padding-left: calc(50% - 585px);
  }

  .patent-n__title {
    margin-bottom: 50px;
    font-size: 38.5948px;
    line-height: 50px;
  }

  .patent-n__item {
    &:not(:last-child) {
      margin-bottom: 38px;
    }
  }

  .patent-n__subitem {
    width: 150px;
    min-width: 150px;
    height: 216px;

    &:not(:first-child) {
      margin-left: 18px;
    }
  }

  .patent-n__controls {
    position: absolute;
    top: 50%;
    left: -20px;
    justify-content: space-between;
    width: calc(100% + 30px);
    transform: translateY(-50%);


    & button {
      width: 43px;
      min-width: 43px;
      height: 43px;
    }
  }
}

@media (max-width: 1279px) {
  .patent-n {
    padding: 40px 30px;
  }

  .patent-n__title {
    font-size: 34px;
    line-height: 44px;
  }

  .patent-n__list {
    display: flex;
    margin-bottom: 45px;
    overflow: hidden;
  }

  .patent-n__item {
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  .patent-n__subitem {
    width: 159px;
    min-width: 159px;
    height: 236px;

    &:not(:first-child) {
      margin-left: 25px;
    }
  }

  .patent-n__controls {
    position: static;
    width: min-content;
    margin: 0 auto;
    transform: translateY(0);

    & button {
      width: 51px;
      min-width: 51px;
      height: 51px;

      &:last-child {
        margin-left: 15px;
      }
    }
  }
}
