.button-n {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  padding: 0 25px;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  white-space: break-spaces;
  background-color: $new-color;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  appearance: none;

  &:hover {
    background-color: darken($new-color, 4);
  }
}
