.modal-question {
  background-color: #0A1029;
  border-radius: 5px;
  padding: 24px 21px;
  padding-right: 39px;
}

.modal-question__text {
  font-size: 16px;
  line-height: 23px;
  color: #E9E9E9;
}
