.tabs__content {
  display: none;

  &--active {
    display: block;
  }
}

.tabs__list {
  @include list-reset;
  display: flex;
  margin: -10px;
  overflow: auto;
}

.tabs__item {
  box-sizing: border-box;
  margin: 10px;
  padding: 9px 29px;
  font-size: 12px;
  line-height: 155%;
  white-space: nowrap;
  background: #fbfbfb;
  border: 1px solid #cdf0ff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  &:not(&--active):hover {
    background-color: transparent;
  }

  &--active {
    color: #ffffff;
    background: #27a2f8;
    border: 1px solid #cdf0ff;
  }
}

@media (min-width: 768px) {
  .tabs__list {
    flex-wrap: wrap;
    overflow: unset;
  }
}
