.biography {
  padding: 10px 15px;

  .sidebar {
    overflow: hidden;
    margin-right: -15px;
  }

  .sidebar__list {
    display: flex;
    overflow: auto;
  }

  .sidebar__item {
    &:not(:last-child) {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}

.biography__title {
  margin-bottom: 60px;
}

.biography__sidebar {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .biography {
    .sidebar {
      margin-right: 0;
      display: none;
    }

    .sidebar__list {
      display: block;
    }

    .sidebar__item {
      &:not(:last-child) {
        margin-bottom: 20px;
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .biography {
    @include page-wrapper;

    .sidebar {
      display: block;
      width: 110px;
      min-width: 110px;
    }

    .page-layout__box {
      margin-left: 50px;
    }
  }

  .biography__container {
    display: flex;
  }

  .biography__sidebar {
    width: 106px;
    min-width: 106px;
    margin-bottom: 0;
  }

  .biography__box {
    max-width: 1014px;
    margin-left: auto;
  }
}
