.biography {
  padding: 10px 15px;
}

.biography__title {
  margin-bottom: 60px;
}

.biography__sidebar {
  margin-bottom: 50px;
}

@media (min-width: 1200px) {
  .biography {
    @include page-wrapper;
  }

  .biography__container {
    display: flex;
  }

  .biography__sidebar {
    width: 106px;
    min-width: 106px;
    margin-bottom: 0;
  }

  .biography__box {
    max-width: 1014px;
    margin-left: auto;
  }
}
