.promo-n {
  position: relative;
  overflow: hidden;
}

.promo-n__slider {
  @include list-reset;
  display: flex;
  min-height: 784px;
}

.promo-n__container {
  position: relative;
}

.promo-n__logo {
  position: absolute;
  top: 90px;
  left: 100px;
  z-index: 100;
  width: 263px;
  height: 333px;
}

.promo-n__box {
  position: relative;
  display: block;
  width: 100%;
  min-height: 100%;
  padding-top: 113px;
  padding-left: calc(50% - 570px);
  background-image: url("../../img/new/promo-n__img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.promo-n__img {
  position: absolute;
  top: 45px;
  right: calc(50% - 815px);
  width: 687px;
}

.promo-n__wrap {
  max-width: 985px;
}

.promo-n__title {
  margin-bottom: 38px;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  font-family: $add-font, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  & br:nth-of-type(1) {
    display: none;
  }
}

.promo-n__text {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-family: $add-font, sans-serif;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(104, 104, 104, 0.25);
}

.promo-n__link {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-family: $add-font, sans-serif;
  color: #ffffff;
  text-shadow: 0 4px 4px rgba(104, 104, 104, 0.25);

  & svg {
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-left: 20px;
    fill: #ffffff;
  }
}

.promo-n__button {
  width: 421px;
  min-height: 75px;
}

.promo-n__inner {
  position: absolute;
  right: calc(50% - 455px);
  bottom: 25px;
  width: 532px;
  background-color: #ffffff;
  border-radius: 20px;
}

.promo-n__desc {
  padding: 17px 35px;
  font-size: 24px;
  line-height: 32px;
}

.promo-n__controls {
  position: absolute;
  top: 50%;
  justify-content: space-between;
  width: 100%;
  padding-right: calc(50% - 910px);
  padding-left: calc(50% - 910px);
}

@media (max-width: 1900px) {
  .promo-n__title {
    font-size: 40px;
    line-height: 50px;

    & br:nth-of-type(1) {
      display: block;
    }
  }

  .promo-n__slider {
    min-height: 523px;
  }

  .promo-n__logo {
    top: 40px;
    left: calc(50% - 610px);
    width: 147px;
    height: 187px;
  }


  .promo-n__box {
    padding-top: 50px;
    padding-left: calc(50% - 430px);
  }

  .promo-n__text {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 21px;
  }

  .promo-n__link {
    font-size: 18px;
    line-height: 21px;


    & svg {
      width: 20px;
      min-width: 20px;
      height: 25px;
      margin-left: 5px;
    }
  }

  .promo-n__button {
    width: 387px;
    min-height: 67px;
    padding: 10px;
  }

  .promo-n__img {
    top: 30px;
    right: calc(50% - 545px);
    width: 458px;
  }

  .promo-n__controls {
    top: 46%;
    padding-right: calc(50% - 610px);
    padding-left: calc(50% - 610px);
  }

  .promo-n__inner {
    right: calc(50% - 332px);
    bottom: 15px;
    width: 354px;
    border-radius: 13.3333px;
  }

  .promo-n__desc {
    padding: 12px 23px;
    font-size: 16px;
    line-height: 21px;
  }
}

@media (max-width: 1279px) {
  .promo-n__box {
    padding: 0 30px;
    padding-top: 58px;
  }

  .promo-n__logo {
    display: none;
  }

  .promo-n__title {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 25px;
  }

  .promo-n__text {
    line-height: 24px;
    margin-bottom: 23px;
  }

  .promo-n__link {
    margin-bottom: 43px;
  }

  .promo-n__button {
    min-height: 72px;
    position: relative;
  }

  .promo-n__img {
    top: 57px;
    right: -35px;
    width: 434px;
  }

  .promo-n__controls {
    display: none;
  }

  .promo-n__inner {
    right: 30px;
    bottom: 17px;
    width: 328px;
  }

  .promo-n__desc {
    font-size: 14px;
    line-height: 21px;
    padding: 8px 27px;
  }
}
