.file__button {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .file__text {
      color: #0d95e8;
    }

    .file__icon {
      fill: #0d95e8;
    }
  }
}

.file__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #122e68;
  transition: all 0.3s;
}

.file__icon {
  width: 18px;
  height: 18px;
  margin-right: 13px;
  transition: all 0.3s;
  fill: #122e68;
}

.file__input {
  position: absolute;
  left: -9999px;
}
