.contacts {
  padding-top: 110px;
}

.contacts__container {
  display: flex;
  padding-right: calc(50% - 585px);
  padding-bottom: 70px;
  padding-left: calc(50% - 585px);
}

.contacts__title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 52px;
}

.contacts__box {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 35px;
  }
}

.contacts__desc {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

.contacts__tel {
  font-size: 24px;
  line-height: 26px;
}

.contacts__mail {
  font-size: 25px;
  line-height: 26px;
}

.contacts__group {
  margin-bottom: 40px;
}

.contacts__list {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(5, 40px);
}

.contacts__item {
  &:not(:last-child) {
    margin-right: 0;
  }
}

.contacts__link {
  & > svg {
    fill: #ffffff;
  }

  &--vk {
    background-color: #4d76a1 !important;
  }

  &--fb {
    background-color: #3b5998 !important;
  }

  &--inst {
    background: linear-gradient(49.12deg, #ffdd55 6.62%, #ff543e 50.06%, #c837ab 93.5%);
  }

  &--yt {
    background-color: #d42428 !important;
  }
}

.contacts__inner {
  display: flex;
  margin-left: 40px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 501px;
  min-width: 501px;
  padding: 38px 21px 55px 25px;
  background-color: #ffffff;
  border: 1px solid #ded5cc;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(67, 70, 70, 0.15);
}

.contacts__content {
  margin-left: 35px;

  & p {
    font-size: 18px;
    line-height: 30px;

    &:first-child {
      font-weight: 700;
    }
  }

  & p:not(:last-child) {
    margin-bottom: 30px;
  }
}

.contacts__map {
  width: 100%;
  min-height: 20vw;
  line-height: 0;

  & iframe {
    width: 100%;
  }
}
