.intro-n {
  padding: 45px 0;
  padding-right: calc(50% - 860px);
  padding-left: calc(50% - 860px);
}

.intro-n__box {
  display: flex;
  margin-bottom: 30px;
}

.intro-n__image {
  width: 553px;
  min-width: 553px;
  margin-top: 10px;
  overflow: hidden;
  border-radius: 15px;

  & img {
    height: 100%;
    object-fit: cover;
  }
}

.intro-n__wrap {
  margin-left: 30px;
}

.intro-n__title {
  margin-bottom: 110px;
}

.intro-n__text {
  font-size: 24px;
  line-height: 32px;
  color: #1f1e1e;

  & span {
    border-bottom: 1px solid #000000;
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }
}

.intro-n__inner {
  width: 400px;
}

.intro-n__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}

.intro-n__desc {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}


@media (max-width: 1900px) {
  .intro-n {
    padding: 45px 0;
    padding-right: calc(50% - 585px);
    padding-left: calc(50% - 610px);
  }

  .intro-n__image {
    width: 388px;
    min-width: 388px;
    border-radius: 10px;
  }

  .intro-n__title {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 41px;
  }

  .intro-n__box {
    margin-bottom: 35px;
  }

  .intro-n__wrap {
    margin-left: 34px;
  }

  .intro-n__text {
    font-size: 18px;
    line-height: 26px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .intro-n__inner {
    padding-left: 25px;
  }

  .intro-n__name {
    font-size: 22px;
    line-height: 22px;
  }

  .intro-n__desc {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (max-width: 1279px) {
  .intro-n {
    padding: 30px;
  }

  .intro-n__box {
    flex-direction: column-reverse;
    margin-bottom: 45px;
  }

  .intro-n__wrap {
    margin-bottom: 45px;
    margin-left: 0;
  }

  .intro-n__title {
    font-size: 34px;
    line-height: 44px;
  }

  .intro-n__text {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  .intro-n__image {
    width: 100%;
    margin-top: 0;
    border-radius: 10px;
  }

  .intro-n__inner {
    padding-left: 0;
  }

  .intro-n__name {
    margin-bottom: 25px;
  }
}
