.video {
  padding: 30px 0;
}

.video__top {
  padding: 0 15px;
}

.video__title {
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.video__desc {
  font-size: 16px;
  line-height: 26px;
  color: #1f1e1e;
}

.video__right {
  p {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 26px;
    color: #1f1e1e;
  }
}

.video__bottom {
  display: none;
}

@media (min-width: 1200px) {
  .video {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .video__top {
    @include page-wrapper;
    display: flex;
    align-items: flex-start;
  }

  .video__left {
    width: 550px;
    min-width: 550px;
    margin-right: 70px;
  }

  .video__bottom {
    position: relative;
    display: block;
  }

  .video__title {
    font-size: 30px;
    line-height: 34px;
  }

  .video__play {
    position: absolute;
    right: calc(50% - 585px);
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    padding: 0;
    background: #27a2f8;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    appearance: none;

    &:hover {
      background-color: #000000;
    }

    svg {
      width: 21px;
      height: 21px;
      fill: #ffffff;
    }
  }
}
