.header-n {
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: calc(50% - 910px);
  padding-left: calc(50% - 910px);
}

.header-n__social {
  display: none;
}

.header-n__logo {
  display: none;
}


.header-n__search {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
  fill: $main-color;

  &:hover {
    fill: $new-color;
  }
}

.header-n__language {
  width: 63px;
  min-width: 63px;
  min-height: 35px;
  margin-left: 35px;
}

.header-n__box {
  display: flex;
  flex-direction: column;
  order: 3;
  margin-left: 35px;
}

.header-n__phone {

  font-size: 22px;
  line-height: 28px;
  transition: all 0.3s;

  &:hover {
    color: $new-color;
  }
}

.header-n__text {
  font-size: 14px;
  line-height: 18px;
  color: $new-color;
  text-transform: uppercase;
}

.header-n__button {
  display: inline-flex;
  order: 5;
  width: 274px;
  min-width: 274px;
  min-height: 55px;
  margin-left: 35px;
}

@media (max-width: 1900px) {
  .header-n {
    padding-right: calc(50% - 610px);
    padding-left: calc(50% - 610px);
  }

  .header-n__box {
    margin-left: 25px;
  }

  .header-n__language {
    margin-left: 25px;
  }

  .header-n__button {
    width: 240px;
    min-width: 240px;
    margin-left: 20px;
    padding: 0 17px;
  }
}

@media (max-width: 1279px) {
  .header-n {
    position: relative;
    padding: 15px 30px;
  }

  .header-n__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #ffffff;
    transform: translateY(-100%);

    &--active {
      transform: translateY(0);
      transition: all 0.4s;
    }
  }

  .header-n__button {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .header-n {
    padding: 15px;
  }

  .header-n__search {
    display: none;
  }

  .header-n__language {
    display: none;
  }

  .header-n__box {
    display: none;
  }

  .header-n__button {
    width: 131px;
    min-width: 131px;
    min-height: 47px;
    margin-left: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    white-space: inherit;

    & > span {
      display: none;
    }
  }
}
