.header-n {
  display: flex;
  align-items: center;
  padding: 0;
  padding-right: calc(50% - 910px);
  padding-left: calc(50% - 910px);
}


.header-n__search {
  width: 24px;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
  fill: $main-color;

  &:hover {
    fill: $new-color;
  }
}

.header-n__language {
  width: 63px;
  min-width: 63px;
  min-height: 35px;
  margin-left: 35px;
}

.header-n__box {
  display: flex;
  flex-direction: column;
  order: 3;
  margin-left: 35px;
}

.header-n__phone {

  font-size: 22px;
  line-height: 28px;
  transition: all 0.3s;

  &:hover {
    color: $new-color;
  }
}

.header-n__text {
  font-size: 14px;
  line-height: 18px;
  color: $new-color;
  text-transform: uppercase;
}

.header-n__button {
  display: inline-flex;
  order: 5;
  width: 274px;
  min-width: 274px;
  min-height: 55px;
  margin-left: 35px;
}

@media (max-width: 1900px) {
  .header-n {
    padding-right: calc(50% - 610px);
    padding-left: calc(50% - 610px);
  }

  .header-n__box {
    margin-left: 25px;
  }

  .header-n__language {
    margin-left: 25px;
  }

  .header-n__button {
    width: 240px;
    min-width: 240px;
    margin-left: 20px;
    padding: 0 17px;
  }
}

@media (max-width: 1279px) {
  .header-n {
    padding: 15px 30px;
    position: relative;

    .header-n__list {
      position: absolute;
      top: -1000px;
    }

    .header-n__social {
      display: none;
    }

    .header-n__logo {
      position: absolute;
      width: calc(100% + 60px);
      margin: 0 -30px;
      top: -1000px;
      display: flex;
      padding-right: 30px;
      justify-content: flex-end;
      padding-bottom: 11px;

      & a {
        width: 179px;
      }
    }

    &--active {
      padding-top: 29px;
      flex-direction: column;
      transition: all 0.3s;

      .header-n__menu {
        width: 100%;
        background-color: #ffffff;
        z-index: 100;
        position: relative;
      }

      .header-n__logo {
        transition: all 0.3s;
        background-color: #ffffff;
        top: 0;
      }

      .search {
        display: none;
      }

      .header-n__search {
        display: none;
      }

      .header-n__list {
        top: 191px;
        transition: all 0.3s;
      }

      .header-n__language {
        margin-left: 0;
        position: absolute;
        bottom: -420px;
        width: 100%;
      }

      .header-n__box {
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        bottom: -522px;
        margin-left: 0;
        padding: 20px 30px;
        padding-bottom: 25px;

        &::after {
          @include pseudo;
          height: 1px;
          width: calc(100% - 60px);
        }

        .header-n__phone {
          font-size: 28px;
          line-height: 36px;
        }

        .header-n__text {
          font-size: 16px;
          line-height: 21px;
        }
      }

      .header-n__button {
        display: none;
      }

      .header-n__social {
        width: 100%;
        display: block;
        background-color: #ffffff;
        position: absolute;
        bottom: -783px;
        padding: 0 30px;

        & .social {
          border-top: 1px solid #EAEAEA;
          padding: 45px 0;
          padding-bottom: 175px;
        }

        & a {
          background-color: $new-color;
          width: 44px;
          height: 44px;

          & svg {
            fill: #ffffff;
          }
        }
      }

    }
  }

  .header-n__button {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .header-n {
    padding: 15px;
  }

  .header-n__search {
    display: none;
  }

  .header-n__language {
    display: none;
  }

  .header-n__box {
    display: none;
  }

  .header-n__button {
    width: 131px;
    min-width: 131px;
    min-height: 47px;
    margin-left: auto;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    white-space: inherit;

    &>span {
      display: none;
    }
  }
}
