.burger {
  width: 34px;
  height: 24px;
  padding: 0;
  font-size: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  appearance: none;
}

.burger__inner {
  position: relative;
  display: block;
  height: 2.66px;
  background-color: #000000;
  border-radius: 30px;
  transition: all 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: inherit;
    background-color: #000000;
    border-radius: 30px;
    transition: all 0.3s;
  }

  &::before {
    top: -11px;
  }

  &::after {
    bottom: -11px;
  }

  &--active {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(45deg);
      opacity: 0.3;
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      opacity: 0.3;
    }
  }
}

@media (min-width: 768px) {
  .burger {
    width: 43px;
    height: 30px;
  }

  .burger__inner {
    position: relative;
    display: block;
    height: 3.36px;
    background-color: #000000;
    border-radius: 30px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: inherit;
      background-color: #000000;
      border-radius: 30px;
      transition: all 0.3s;
    }

    &::before {
      top: -13px;
    }

    &::after {
      bottom: -13px;
    }

    &--active {
      background-color: transparent;

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }
}

@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}
