.programs {
  padding: 10px 15px;
  padding-bottom: 30px;
}

.programs__title {
  margin-bottom: 20px;
}

.programs__header {
  margin-bottom: 10px;
}

.programs__text {
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.programs__list {
  @include list-reset;
  display: grid;
  justify-content: space-between;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
}

.programs__pagination {
  display: flex;
  justify-content: center;
}

.programs__sidebar {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .programs__container {
    display: flex;
  }

  .programs__sidebar {
    width: 230px;
    min-width: 230px;
  }

  .programs__box {
    margin-left: 25px;
  }

  .programs__list {
    grid-gap: 25px;
    grid-template-columns: 45% 45%;
  }

  .programs__item {
    width: 203px;
    min-width: 203px;
  }

  .programs__text {
    margin-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .programs {
    @include page-wrapper;
  }

  .programs__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
  }

  .programs__title {
    margin-bottom: 0;
  }

  .programs__text {
    font-size: 15px;
    line-height: 25px;
  }

  .programs__sidebar {
    width: 275px;
    min-width: 275px;
  }

  .programs__list {
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
  }
}
