.controls {
  display: flex;
}

.controls__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  padding: 0;
  background: linear-gradient(180deg, #eef3f8 0%, #eef3f8 100%);
  border: none;
  border-radius: 50%;
  box-shadow: unset;
  cursor: pointer;
  transition: all 0.3s;

  &--prev {
    transform: rotate(-180deg);
  }

  &:hover {
    background-color: $new-color;
    box-shadow: 0 4px 4px rgba(217, 217, 217, 0.25);

    svg {
      fill: #ffffff;
    }
  }

  svg {
    width: 9px;
    height: 17px;
    transition: all 0.3s;
    fill: $new-color;
  }

  &--area {
    width: 32px;
    height: 32px;
  }

  &--area svg {
    width: 6px;
    height: 13px;
    fill: $new-color;
  }

  &--up {
    width: 45px;
    height: 45px;
    background: transparent;
    border: 3.5px solid #ffffff;
    border-radius: 50%;

    & svg {
      width: 13px;
      height: 21px;
      fill: #ffffff;
    }
  }

  &--new {
    width: 43px;
    min-width: 43px;
    height: 43px;
    background: #ffffff;
    border-radius: 50%;

    & svg {
      width: 13px;
      height: 21px;
      fill: $new-color;
    }

    &:hover {
      background-color: $new-color;

      & svg {
        fill: #ffffff;
      }
    }
  }

  &--new-border {
    background: #ffffff;
    box-shadow: 0 0 4px #aeaeae;

    & svg {
      width: 9px;
      height: 17px;
      fill: $new-color;
    }

    &:hover {
      background-color: $new-color;

      & svg {
        fill: #ffffff;
      }
    }
  }
}
