.situations-n {
  padding: 70px;
  padding-right: calc(50% - 860px);
  padding-left: calc(50% - 860px);
}

.situations-n__title {
  margin-bottom: 20px;
}

.situations-n__text {
  text-align: center;
  color: $new-color;

  &--top {
    justify-content: center;
    margin-bottom: 80px;
    font-size: 24px;
    line-height: 31px;
  }

  &--bottom {
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
  }
}

.situations-n__list {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(3, 553px);
  margin-bottom: 50px;
  column-gap: 30px;
  row-gap: 33px;
}

.situations-n__item {
  overflow: hidden;
  border-radius: 15px;
}

.situations-n__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 341px;
  padding: 50px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  transition: all 0.3s;

  &--center {
    align-items: center;
  }

  &::before {
    @include pseudo;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(30, 30, 30, 0.116) 0%, rgba(0, 0, 0, 0.4) 100%);
  }

  &--center::before {
    background: linear-gradient(0deg, rgba(159, 34, 36, 0.55), rgba(159, 34, 36, 0.55));
  }

  &:hover {
    background-size: 100%;
  }
}

.situations-n__header {
  z-index: 100;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1900px) {
  .situations-n {
    padding-top: 65px;
    padding-right: calc(50% - 585px);
    padding-bottom: 30px;
    padding-left: calc(50% - 585px);
  }

  .situations-n__title {
    margin-bottom: 15px;
    letter-spacing: 0;
  }

  .situations-n__text {
    &--top {
      justify-content: center;
      margin-bottom: 50px;
      font-size: 18px;
      line-height: 23px;
    }

    &--bottom {
      font-size: 20px;
      line-height: 45px;
    }
  }

  .situations-n__list {
    grid-template-columns: repeat(3, 376px);
    margin-bottom: 45px;
    gap: 20px;
  }

  .situations-n__item {
    border-radius: 10px;
  }

  .situations-n__inner {
    min-height: 232px;
    padding: 40px 20px;
  }

  .situations-n__header {
    font-size: 20px;
    line-height: 26px;
  }
}

@media (max-width: 1279px) {
  .situations-n {
    padding: 30px;
    padding-top: 60px;
  }

  .situations-n__title {
    margin-bottom: 20px;
  }

  .situations-n__text {
    &--top {
      justify-content: center;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 23px;
    }

    &--bottom {
      display: none;
    }
  }

  .situations-n__list {
    justify-content: center;
    grid-template-columns: repeat(2, 344px);
    margin-bottom: 0;
    gap: 19px;
  }

  .situations-n__item {
    &--text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: #e8e4e4;
      border-radius: 20px;

      & > .situations-n__header {
        color: $new-color;
      }
    }
  }

  .situations-n__inner {
    min-height: 213px;
    padding: 40px 20px;
  }

  .situations-n__header {
    font-size: 18px;
    line-height: 23px;
  }
}
